@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;0,700;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	background: #01000a;
	color: white;
}
.typeAnimation p {
	color: white;
}

.border-gradient-green {
	background: linear-gradient(#08081d, black) padding-box,
		linear-gradient(
				45deg,
				#02fe9e,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#02fe9e
			)
			border-box;
	border-radius: 25px;
	border: 1px solid transparent;
}

.border-gradient-greenSmall {
	background: linear-gradient(#08081d, black) padding-box,
		linear-gradient(
				45deg,
				#02fe9e,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#02fe9e
			)
			border-box;
	border-radius: 10px;
	border: 1px solid transparent;
}

.border-gradient-only-green {
	background: linear-gradient(#0c0b15, #0c0b15) padding-box,
		linear-gradient(135deg, #02fe9e, #161d25, #161d25) border-box;
	/*backdrop-filter: blur(200px);*/
	border: 1px solid transparent;
}

.border-gradient-about-web3 {
	background: linear-gradient(#01000a, #01000a) padding-box,
		linear-gradient(45deg, #02fe85, #02fed1) border-box;
	border-radius: 10px;
	border: 1px solid transparent;
}

.bottom-border-gradient {
	background: linear-gradient(#01000a, #01000a) padding-box,
		linear-gradient(45deg, #02fe85, #02fed1) border-box;
	border-bottom: 1px solid transparent;
}

.borderAnimationOne {
	animation: driveAnimationOne 0.5s ease-in-out forwards;
}

.borderAnimationTwo {
	animation: driveAnimationOne 0.5s ease-in-out 0.5s forwards;
}

.borderAnimationThree {
	animation: driveAnimationOne 0.5s ease-in-out 1s forwards;
}

/*Shirshak kandel style  */

.paragraph {
	@apply text-[#CFCED8] font-source text-[18px] leading-[160%] tracking-[-0.03em];
}

.section-wrapper {
	@apply px-52 xl:px-12 sm:px-4 text-white max-w-[2000px] mx-auto;
}

.mt-section {
	@apply mt-[140px] md:mt-24;
}

.primary-heading {
	@apply text-white font-poppins font-[700] text-[66px] lg:text-6xl md:text-4xl sm:text-3xl leading-[130%] tracking-[-0.03em];
}

@keyframes driveAnimationOne {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}
