@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;0,700;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	background: #01000a;
	color: white;
}
.typeAnimation p {
	color: white;
}

.border-gradient-green {
	background: linear-gradient(#08081d, black) padding-box,
		linear-gradient(
				45deg,
				#02fe9e,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#02fe9e
			)
			border-box;
	border-radius: 25px;
	border: 1px solid transparent;
}

.border-gradient-white {
	background: linear-gradient(#08081d, black) padding-box,
		linear-gradient(
				0deg,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#fff,
				#161d25,
				black
			)
			border-box;
	border-radius: 25px;
	border: 1px solid transparent;
}

.gradient-border {
	box-sizing: content-box;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to right, #02fe9e, #08081d);
	border-image-slice: 1;
}

.border-gradient-greenSmall {
	background: linear-gradient(#08081d, black) padding-box,
		linear-gradient(
				45deg,
				#02fe9e,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#161d25,
				#02fe9e
			)
			border-box;
	border-radius: 10px;
	border: 1px solid transparent;
}

.border-gradient-only-green {
	background: linear-gradient(#0c0b15, #0c0b15) padding-box,
		linear-gradient(135deg, #02fe9e, #161d25, #161d25) border-box;
	/*backdrop-filter: blur(200px);*/
	border: 1px solid transparent;
}

.border-gradient-about-web3 {
	background: linear-gradient(#01000a, #01000a) padding-box,
		linear-gradient(45deg, #02fe85, #02fed1) border-box;
	border-radius: 10px;
	border: 1px solid transparent;
}

.bottom-border-gradient {
	background: linear-gradient(#01000a, #01000a) padding-box,
		linear-gradient(45deg, #02fe85, #02fed1) border-box;
	border-bottom: 1px solid transparent;
}

.borderAnimationOne {
	animation: driveAnimationOne 0.5s ease-in-out forwards;
}

.borderAnimationTwo {
	animation: driveAnimationOne 0.5s ease-in-out 0.5s forwards;
}

.borderAnimationThree {
	animation: driveAnimationOne 0.5s ease-in-out 1s forwards;
}

/*Shirshak kandel style  */

.paragraph {
	@apply text-[#CFCED8] font-source text-[18px] leading-[160%] tracking-[-0.03em];
}

.section-wrapper {
	@apply px-48 xl:px-12 sm:px-4 text-white max-w-[2000px] mx-auto;
}

.mt-section {
	@apply mt-[140px] md:mt-24;
}

.mt-element {
	@apply mt-[15px];
}
.border-gradient-input {
	background: linear-gradient(#08081d, #08081d) padding-box,
		linear-gradient(180deg, #89c263 10%, black) border-box;

	border-radius: 10px;
	border: 0.5px solid transparent;
}

.max-width {
	@apply max-w-[2000px] mx-auto;
}

.border-gradient-box {
	background: linear-gradient(#08081d, #08081d) padding-box,
		linear-gradient(180deg, #89c263 90%, white) border-box;

	border-radius: 10px;
	border: 0.5px solid transparent;
}

.mb-section {
	@apply mb-[140px] md:mb-24;
}
.my-element {
	@apply my-[20px] sm:my-4;
}

.primary-heading {
	@apply text-white font-poppins font-[700] text-[66px] lg:text-6xl md:text-4xl sm:text-3xl leading-[130%] tracking-[-0.03em];
}
.green-heading {
	@apply text-xl bg-clip-text text-transparent bg-gradient-to-br from-[#02FE85] to-[#02FED1] font-bold font-[Poppins] sm:text-sm;
}

.input {
	@apply w-full h-[50px] bg-[#0A0914]  p-5  outline-[0]  text-[14px] font-poppins text-white border-gradient-input  mb-[20px] shadow-lg;
}

.textarea {
	@apply w-full  bg-[#0A0914]  p-5  outline-[0]  text-[14px] font-poppins text-white rounded-[10px] border-gradient-input  mb-[20px] shadow-lg;
}

@keyframes driveAnimationOne {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}
